@{
    ViewData["Title"] = "Smart Expenses";
}

<div class="text-center">
    <h1 class="display-4">Smart Expenses</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-secondary">Create or Edit an Expense</a>
</div>
